*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
main {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.btn {
    padding: 8px 16px;
    font-size: 1.6rem;
    background: transparent;
    cursor: pointer;
}

.modal-backdrop {
    position: fixed;
    inset: 0;
    z-index: 1000;
    background-color: rgba(141, 89, 89, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    visibility: hidden;
    transition: opacity, visibility;
    transition-duration: 0.3s;
    
}
/* visibility : hidden phần tử ẩn khỏi giao diện nhưng vẫn chiếm không gian layout
>< display: none cũng tương tự nhưng không chiếm không gian, ẩn ngay lập tức, 
trong khi đó thì VISIBILITY + opacity có thể tạo hiệu ứng transition fade in/out mượt */
.modal-backdrop.show {
    opacity: 1;
    visibility: visible;
}

.modal-container {
    position: relative;
    width: min(400px, 90%);
    min-height: 300px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   
}
.modal-backdrop.show .modal-container {
    transform: scale(1);
}
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 32px;
    width: 32px;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
}
.modal-close:hover {
    background-color: rgba(7, 235, 64, 0.5);
}
.modal-content {
    margin: 10px;
    text-align: center;
    max-height: 500px;
    overflow-y: auto;
}